{{#>layout currentPage='Creat Blog'}}
<!-- CREAT BLOG -->
<div class="container">
  <div>

    <form id="create-blog" action="/blog-creat" method="post" class="create-blog-form" >
      <h1>Create Blog</h1>

      <div class="form-field">
        <label for="title">title</label>
        <input name="title" id="title" type="text" required>
      </div>

      <div class="form-field">
        <label for="content">content</label>
        <textarea name="content" id="content" rows="4" required></textarea>
      </div>

      <div class="form-field">
        <label for="image">upload image</label>
        <input name="image" id="image" type="file"></input>
      </div>

      <div class="button-container">
        <button type="submit" >submit</button>
      </div>

    </form>
    <hr style="width: 90%; margin: 0 auto;">
  </div>
  <script src="/js/blog.js"></script>
{{/layout}}