{{> layout currentPage='Blog Detail'}}
  
    <!-- BLOG DETAIL SECTION -->

    <section class="blog-detail">
      <h1 class="blog-item-title">Pasar coding Indonesia</h1>
      
      <p>30 Januari 2025 11:22 WIB | Septania Nopa</p>

      <div class="blog-item-img">
        <img src="/images/pt5.jpg" alt="blog-image">
      </div>

        <p> I am a teacher at a junior high school in Ponorogo Regency, East Java. And I am a fresh graduate in 2024 at a University of UMPO in Ponorogo Regency, East Java. Apart from teaching, I also work as a Scoutmaster in several junior high school and elementary schools. My previous experience was that I had an internship at the Ponorogo Regency Communications and Information Service Ponorogo majoring in multimedia and had the task of editing images, photos and make a videos. </p>
      </div>
      {{!-- <p class="blog-item-relative-time">1 day ago</p> --}}

    </section>
    
{{/layout}}