{{#>layout currentPage='Home'}}

<!-- HOME -->

    <main id="main-content" class="main-content">
    <!-- CARD -->
    <div class="bungkusCard">
        <div class="containerCard">
          <div class="profile">
            <img src="/images/sep.jpeg" class="profile-pict" />
            <div class="img-footer">
              <h2 class="name">Septania Nopa H</h2>
              <p class="text">I am a fresh graduate and currently I am studying to become a programmer. I am currently studying at Dumbways. </p>
              <table class="table table-striped table-hover">
                <tbody> 
                  <tr>
                    <th class="tableCard">Experience</th>
                    <th class="tableCard">Years</th>
                  </tr>
                  <tr>
                    <td class="tableCard">Develop Personal</td>
                    <td class="tableCard">2025</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  
      <!-- INTRODUCTION SECTION -->
      <div id="introductionSection" class="introductionSection">
        <section id="introduction" class="introduction"> 
          <div>
            <h1> What I do</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            </p>
          </div>
    
          <div id="introductionSym" class="introductionSym">
            <div class="introductionImg">
              <img src="/images/imgs/js.png">
              <h2>Frontend Developer</h2>
              <p>JavaScript is the Programming Language for the Web. JavaScript can update and change both HTML and CSS. JavaScript can calculate, manipulate and validate data.
              </p>
            </div>
            <div class="introductionImg">
              <img src="/images/imgs/git.png">
              <h2>Frontend Developer</h2>
              <p>JVersion control is a system that tracks and manages changes made to files over time, allowing users to revisit previous versions of a file, typically used in software development to monitor alterations to code and other project assets. 
              </p>
            </div>
            <div class="introductionImg">
              <img src="/images/imgs/deploy.png">
              <h2>Frontend Developer</h2>
              <p>Automated deployment refers to the process of automatically moving software updates or new versions from a development environment to testing, staging, and finally production environments, without manual intervention. 
            </div>
          </div>
    
           <!-- SOCIAL -->
           <div id="social" class="social">
            <h2>Found Me On</h2>
            
            <div id="socialImage" class="socialImage">
              <a href="#">
                <img src="/images/imgs/facebook.png" alt="">
              </a>
              <a href="#">
                <img src="/images/imgs/twitter.png" alt="">
              </a>
              <a href="#">
                <img src="/images/imgs/instagram.png" alt="">
              </a>
              <a href="#">
                <img src="/images/imgs/mail.png" alt="">
              </a>
              <a href="#">
                <img src="/images/imgs/whatsapp.png" alt="">
              </a>
            </div>
           </div>
        </section>
      </div>
    </main>
{{/layout}}