{{#>layout currentPage='Project List'}} 

  <!-- BLOG LIST -->
 
    <main class=" flex-column mx-auto mt-5 ms-5 border border-0 " >
    <h1 style="text-align: center;" class="fw-bold mb-4 mx-auto">My Blogs</h1>

    <div style="width:93%; text-align: right; " class="text-sm-end">
      <a href="/blog-creat" class="btn btn-outline-primary me-3 px-4">Creat</a>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../images/pt3.jpg" class="card-img-top p-0" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             </div>
        <div>
            <a href="#" class="card-link"> Edit </a>
            <a href="#" class="card-link"> Delete </a>  
        </div>
    </div>

</div>
</main>
  

{{/layout}}
